# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.env.*

# Node/Frontend
node_modules/
build/
dist/
view/node_modules/
view/build/
view/dist/

# OS/Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Docker
*.log
db_data/

# Misc
*.sqlite3
*.db
*.bak
*.swp
*.swo

# Ignore local config
*.local

#Ignore /reports and /files 
reports/
files/